///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/



//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
.u-blue {
    font-weight: 700;
    color: #00ada0;
}

.u-red {
    color: #fd0000;
    margin-left: -5px;

    &2 {
        margin-left: 0;
    }
}

.u-error {
    font-size: 1.4rem;
    width: 100%;
    color: #fd0000;
    padding-left: 32%;
    margin: 9px 0 0;
    letter-spacing: 0.1em;
    font-feature-settings: "palt" 1;
    @include sp {
        padding-left: 0;
    }

    &1 {
        display: none;
        line-height: 1.5;
        padding-left: 0;
        margin: 19px 0 -40px;
        letter-spacing: 0;
    }
}
//------------------------------------------------------------
